button {
  border-radius: 0;
  border: 0;
  background: transparent;
  display: inline-block;
  padding: 0;
}

.button {
  font-size: .8rem;
  font-weight: 700;
  padding: 1em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  background: $red;
  color: $white;
  transition: .45s ease;

  &:focus, &:hover {
    background: $turquoise;
  }

  &.red {
      color: $turquoise;
    //   background: $turquoise;
      border: 2px solid transparent;

      &:hover {
        //   background: $turquoise;
          border-color: $turquoise;
      }
  }

  &.yellow {
      color: $yellow;
      background: $yellow;
      border: 2px solid $yellow;

      &:hover, &:focus {
          background: $yellow;
          color: $black;
      }
  }

}


.text-link {
    color: $white;
    font-size: .8rem;
    line-height: 1.2em;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-top: 1px solid $red;
    background: $red;
    border-bottom: 1px solid $red;
    padding: 5px 5px 5px 8px;

}


button.close {
  padding: 4px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  svg {
      .stroke {
          stroke: $black;
      }
  }

  &:hover, &:focus {
      background: $red;

      svg {
          .stroke {
              stroke: $white;
          }
      }
  }
}


.meta-actions {
position: absolute;
z-index: 99999999;
top: 8px;
left: 20px;
color: $white;
a {
  border: none;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  background: $red;
  font-weight: 700;
  padding: 8px;
}
}