$white: #ffffff;
$black: #000000;
$turquoise: #099f9f;
$turquoise-light: #a6dcdc;
$red: #cc0000;
$gray-light: #f5f5f6;
$gray-mid: #808080;
$gray-light-2: #c1c1c1;
$gray-dark: #616264;
$gray-darkest: #3f3f3f;
$gray-common: #9d9fa2;

$yellow: #FDDA0D;

$teal: #40B5AD;
$prussian-blue: #003151;
$blue-gradient: linear-gradient(333deg, $black 0%, $prussian-blue 100%);



$beige: #ffebcd;

$stroke:  $gray-light-2;