@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Rubik+Mono+One&family=Syne&display=swap');

$body: 'Syne', 'Verdana', 'sans-serif';
$major-mono: 'Major Mono Display', 'sans-serif';
$rubik: 'Rubik Mono One', 'sans-serif';