
body {
  font-family: $body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}



.h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1rem;
  font-family: $syne;
  @media (min-width: 1024px) {
    font-size: 5rem;
  }
}
.h2 {
  font-size: 2rem;
  font-family: $title;
  // letter-spacing: -.06em;
  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.h2-stroke {
  font-size: 3.2rem;
  color: $black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $black;
  // font-family: 'Arial';

  &.blue {
    color: $prussian-blue;
    -webkit-text-stroke-color: $prussian-blue;
  }
  &.white {
    color: $white;
    -webkit-text-stroke-color: $white;
  }
  &.red {
    color: $white;
    -webkit-text-stroke-color: $red;
  }
  @media (min-width: 1024px) {
    font-size: 4.4rem;
  }
}

.h3 {
  font-size: 1.4rem;
  // font-family: $title;
  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.h4 {
  font-size: 1.4rem;
  // font-family: $title;
  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.h5 {
  font-size: 1.2rem;
  // font-family: $title;
  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }
}


.paragraph {
  font-size: 1rem;
  line-height: 1.7em;

  p + p {
    margin-top: 1.5rem;
  }
}

.paragraph-small {
  font-size: .9rem;
  line-height: 1.6em;
}

.text-blue {
  color: $prussian-blue;
}
.text-turquoise {
  color: $turquoise;
}
.text-white {
  color: $white;
}

.text-red {
  color: $red;
}

.bold {
  font-weight: 700;
}


.rubik {
  font-family: $rubik;
}