
body {
  font-family: $body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}


.h1, .h2, .h2-stroke, .h3, .h4 {
}
.h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1rem;
  @media (min-width: 1024px) {
    font-size: 4rem;
  }
}
.h2 {
  font-size: 1.6rem;
  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

.h2-stroke {
  font-size: 3.2rem;
  color: $black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $black;

  &.blue {
    color: $prussian-blue;
    -webkit-text-stroke-color: $prussian-blue;
  }
  &.white {
    color: $white;
    -webkit-text-stroke-color: $white;
  }
  &.red {
    color: $white;
    -webkit-text-stroke-color: $red;
  }
  @media (min-width: 1024px) {
    font-size: 4.4rem;
  }
}

.h3 {
  font-size: 1.4rem;
  @media (min-width: 1024px) {
  
  }

}


.paragraph {
  font-size: 1rem;
  line-height: 1.7rem;
}

.text-blue {
  color: $prussian-blue;
}
.text-white {
  color: $white;
}

.text-red {
  color: $red;
}