$header-height: 60px;

.grid {
    display: grid;
    grid-gap: 35px;
}

// @media (min-width: 768px) {
    @for $i from 1 through 5 {
        .grid-#{$i} {
            grid-template-columns: repeat($i, minmax(0, #{$i}fr));
        }
    }
// }

.absolute-cover {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.right-auto {
    margin-right: auto;
}

.left-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}


.mobile-only {
    @media (min-width: 768px) {
        display: none;
    }
}

.desktop-only {
    @media (max-width: 767px) {
        display: none;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 20px;
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}
.mb-80 {
    margin-bottom: 40px;
    @media (min-width: 768px) {
        margin-bottom: 80px;
    }
}


.text-list {
    li {
        display: inline-block;
        position: relative;
    
        &:not(:last-child) {
            padding-right: 1em;
            margin-right: .7em;
            &::after {
                display: inline-block;
                content: '';
                position: absolute;
                background: $red;
                width: .35rem;
                height: .35rem;
                border-radius: 50%;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }  
    }
}
.flex-align-center {
    display: flex;
    align-items: center;

    &.wrap {
        flex-wrap: wrap;
    }

    svg {
        margin-right: 8px;
    }
}



.fade-enter-active,
.fade-leave-active {
  transition: 400ms ease-in-out;
  opacity: 0;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}



.global-image {
    display: block;
    position: relative;

    &:not(.original) {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            display: block;
            object-fit: cover;
        }
    
        &.contain {
            img {
                object-fit: contain;
            }
        }    
    }

    &.absolute-fill {
        position: absolute;
        @extend .absolute-fill;
    }
    
    &.notched-image {
        img {
            -webkit-clip-path: polygon(0 0, 0 0, 98% 0, 98% 28%, 100% 28%, 100% 100%, 35% 100%, 35% 97%, 2% 97%, 2% 57%, 0 57%);
            clip-path: polygon(0 0, 0 0, 98% 0, 98% 28%, 100% 28%, 100% 100%, 35% 100%, 35% 97%, 2% 97%, 2% 57%, 0 57%);
        }
    }

    img {
        display: block;
    }
}



