$white: #ffffff;
$black: #000000;

$red: #cc0000;

$purple: #8A3FFC;
$turquoise: #008080;
$blue: #0a67b8;
$gold:#bf9b30;
$green: #03303b;
$maroon: #a02935;
$rose: rgb(255, 0, 50);

$turquoise-light: #008882;
$stroke:  #c1c1c1;