$white: #ffffff;
$black: #050505;
$black: black;

$red: #cc0000;

$teal: #00ffcc;
// $teal: #30fdec;
// $teal: #00dda6;

$teal: rgb(0, 255, 213);


// $redpink: #ff4141;
$redpink: #f32e42;


// $redpink: #f62a45;